{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RTKMP{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body style="background-color: #fef3c7;">
<header>
    <nav>
        <ul>
            <li><a href="/map">Home</a></li>
            <li><a href="/trip">Trip</a></li>
            <li><a href="/places">Places</a></li>
            {% if app.user %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}

        </ul>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>


<footer>
    <p>&copy; 2024 Planning System of Recommended tourist trip route </p>
</footer>


{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
